@model MvcMovie.Models.Evento

@{
    ViewData["Title"] = "Generar Cotización";
}

<h2>Generar Cotización</h2>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tipoEvento" class="control-label"></label>
                <input asp-for="tipoEvento" class="form-control" />
                <span asp-validation-for="tipoEvento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lugar" class="control-label"></label>
                <input asp-for="lugar" class="form-control" />
                <span asp-validation-for="lugar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="invitados" class="control-label"></label>
                <input asp-for="invitados" class="form-control" />
                <span asp-validation-for="invitados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="detalles" class="control-label"></label>
                <input asp-for="detalles" class="form-control" />
                <span asp-validation-for="detalles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Cotización" class="btn btn-default" />
                <a class="btn btn-default" href="https://localhost:44327/Eventos">
                    Tus datos
                </a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
